name: Publish Python distribution to PyPI and TestPyPI
on: push

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@main
      with:
        python-version: "3.x"

    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user

    - name: Build a binary wheel and a source tarball
      run: python3 -m build

    - name: Test 
      run: |
        ls -l dist/
        python3 -m pip install --editable .
        elastic --version
        python3 -m pip install pytest pytest-cov hypothesis
        python3 -m unittest discover -s test -b
        elastic -v --cij proc tests/data/calc-cij_*/vasprun.xml
        elastic -v --eos proc tests/data/calc-eos_*/vasprun.xml

    - name: Store the distribution packages
      uses: actions/upload-artifact@main
      with:
        name: python-package-distributions
        path: dist/


  publish-to-testpypi:
    name: Publish Python distribution to TestPyPI
    needs:
    - build
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/elastic

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@main
      with:
        name: python-package-distributions
        path: dist/

    - name: Publish distribution to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
